body {
    width: 100%;
    position: relative;
}

#imageOrig {
    content: url("4thPRESOffice0617.jpg");
    display: block;
}

#imageMobile {
    content: url("4thPRESOffice0617Mobile.jpg");
    display: none;
}

#imagePrinters {
    content: url("4thPRESOffice0617Printers.jpg");
    display: none;
}

#imageiPad {
    content: url("4thPRESOffice0617iPad.jpg");
    display: none;
}

#imagePhone {
    content: url("4thPRESOffice0617Phones.jpg");
    display: none;
}

#imageHotSpot {
    content: url("4thPRESOffice0617HotSpots.jpg");
    display: none;
}

#imageNetworked {
    content: url("4thPRESOffice0617NetworkedP.jpg");
    display: none;
}

#imagePersonal {
    content: url("4thPRESOffice0617PersonalP.jpg");
    display: none;
}

#imageAll {
    content: url("4thPRESOffice0617All.jpg");
    display: none;
}

.image {
    width: 100%;
}

#Mobile {
    position: absolute;
    left: 0.05%;
    top: 0.45%;
    width: 11.45833%;
    height: 14.5%;
}

#Printers {
    position: absolute;
    left: 12.3%;
    top: 0.45%;
    width: 11.45833%;
    height: 14.5%;
}

#iPad {
    position: absolute;
    left: 0.25%;
    top: 18.2%;
    width: 6.5%;
    height: 2.25%;
}

#Phone {
    position: absolute;
    left: 0.25%;
    top: 24.65%;
    width: 8.5%;
    height: 2.25%;
}

#HotSpot {
    position: absolute;
    left: 0.25%;
    top: 31.1%;
    width: 10.25%;
    height: 2.25%;
}

#Networked {
    position: absolute;
    left: 11.1%;
    top: 18.2%;
    width: 12.15%;
    height: 2.25%;
}

#Personal {
    position: absolute;
    left: 13%;
    top: 24.65%;
    width: 10.25%;
    height: 2.25%;
}

#All {
    position: absolute;
    left: 10.15%;
    top: 37.5%;
    width: 3%;
    height: 2.25%;
}

#RichStanley {
    position: absolute;
    left: 25.1%;
    top: 1.25%;
    width: 9.45266%;
    height: 17.3%;
}

#userInfoContainer {
    position: absolute;
    left: 0.3978125%;
    top: 48.5%;
    width: 23.20198%;
    height: 51.4745%;
    display: none;
}

#userName {
    font-size: 4vw;
}

.userInfo {
    font-size: 2vw;
}

#clear {
    position: absolute;
    left: 0.35%;
    top: 44%;
    font-size: 1.75vw;
    text-decoration: unset;
    color: black;
    cursor: pointer;
}

#Mobile:hover+#imageMobile {
    display: block;
}

#Printers:hover+#imagePrinters {
    display: block;
}

#iPad:hover+#imageiPad {
    display: block;
}

#Phone:hover+#imagePhone {
    display: block;
}

#HotSpot:hover+#imageHotSpot {
    display: block;
}

span:hover {
    cursor: pointer;
}

span:hover~#imageOrig {
    display: none;
}

#Networked:hover+#imageNetworked {
    display: block;
}

#Personal:hover+#imagePersonal {
    display: block;
}

#All:hover+#imageAll {
    display: block;
}